.navbar{
    font-family: 'Open Sans', sans-serif;
    color: rgb(82, 89, 96);
    z-index: 10;
}
.navbar nav{
    position: fixed;
    /* padding-top: 0.5vh; */
    width: 100%;
    background-color: white;
    top: 0; 
    display: flex;
    border-bottom: 1px solid rgb(227, 230, 232) ;
    z-index: 1000;
}

.navbar nav ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    /* padding: 0.5rem; */
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 1rem;
    font-weight: bold;
  }
  .navbar nav input {
    width: 25vw;
    margin-left: 1vw;
    height: 24px;
    color:rgb(82, 89, 96);
    padding-left: 10px;
    border: 1px solid rgb(186, 191, 196);
    border-radius: 5px;
  }

  .navbar nav input:focus {
    outline: none;
    border-color: rgb(107, 187, 247);
    box-shadow: 0 0 0 4px rgb(217, 234, 247);
  }

  .navbar nav button {
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    color: rgb(82, 89, 96);
    margin-left: 1vw;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 1rem !important;
    /* font-weight: bold; */
    border: none;
    border-radius: 20px;
  }

  .loginForm{
    margin: 3vh;
  }

  .buttonLogin{
    background-color: rgb(225, 236, 244) !important;
    border-radius: 5px !important;
  }

  .buttonLogin:hover{
    background-color: rgb(179, 211, 234) !important;
  }
  .buttonSignup {
    color: white !important;
    background-color: rgb(10, 149, 255) !important;
    border-radius: 5px !important;
  }

  .buttonSignup:hover{
    background-color: rgb(0, 116, 204) !important;
  }
  
  .navbar nav button:hover {
    background-color:  rgb(227, 230, 232);
    cursor: pointer;
  }

  .homePageButton {
    font-size: 20px;
    border-radius: 0px !important;
  }

  .logo{
    width: 40px;
    height: 40px;
  }
  .mainLogoText{
    font-size: 20px;
    font-family: "Barlow";
    position: relative;
    bottom: 12px;
    /* align-self: center; */
}


@media (max-width: 900px) {
    .navbar nav input {
      margin-left: 2px;
      width: 50px;
    }
    .navbar nav button{
        padding: 0.5rem 0.2rem;
    }
}

@media (max-width: 500px) {
    .navbar nav input {
    display: none;
    }
    .logo{
        position: relative;
    }
    .mainLogoText{
        font-size: 16px;
    }
    .navbar nav button{
        padding: 0.5rem 0.2rem;
        margin: 1px;
    }
}

@media (max-width: 420px) {
  .logo{
      position: relative;
  }
  .mainLogoText{
      display: none;
  }
}